name: gfl-data-miner auto update bot

on:
  workflow_dispatch:
    inputs:
      cmdargs:
        description: 'Commandline Arguments'     
        required: false
        default: 'at tw kr jp us ch' 
        type: string
  push:
  schedule:
    - cron: '0 2-14/3 * * *'
    - cron: '0,30 2-19 * * 4'
    
concurrency: repo_update

jobs:
  gfl-data-miner-workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python dependencies
        run: pip install -r requirements.txt
      - name: Data Miner
        run: |
          python -m dataminer \
          --author "${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>" \
          --github_token ${{ secrets.TEST }} \
          --dingtalk_token ${{ secrets.DINGTALK_TOKEN }} \
          ${{ inputs.cmdargs || (github.event.schedule == '0,30 2-19 * * 4' && 'ch' || 'tw kr jp us ch') }} 
      - name: Dispatch submodule_sync event
        uses: mvasigh/dispatch-action@main
        if: always() && env.update_detected
        with:
          token: ${{ secrets.TEST }}
          repo: 'GF_Data_Tools'
          event_type: submodule_sync
